/* ---------------------------------- */
/* BASIC SETUP */
/* ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    width: 100%;
}

nav div p {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

h1 {
    font-size: 50px;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    margin: 4% auto;
    text-align: center;
    font-weight: 300;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.titleImg {
    position: relative;
}

.titleImg:hover > .img-back {
    opacity: 0.5;
    transition: 0.5s;
}

.titleImg:hover > .img-front { 
    visibility:visible;
    transition: 0.5s;
}

.titleImg img {
    max-width:100%;
}

.icon {
    font-size: 80%;
    color: #d8b776;
    float: right;
    margin-top: 5px;
}

.icon-cnt {
    color: #d8b776;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.box {
    padding-right: 17px;
    padding-left: 17px;
}

.shadow-box {
    box-shadow: 0 0 5px #b2b2b2;
    height: 450px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.blog-body {
    max-width: 900px;
    margin-bottom: 5%;
}

.weight-change {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
}

.img-front {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.img-front ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.content {
    padding: 20px;
}

.content-title {
    float: left;
}

.time-block {
    font-style: italic;
    color: #bababa;
    line-height: 51px;
    font-size: 14px;
    font-weight: 300;
}

.content-short-description {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}